body 
{
    width:100%;
}


div.symbolGroupDiv 
{
    display:inline-block;
    text-align:center;
    border:1px solid black;
    border-radius:5px;
    /*box-shadow: 5px 5px 5px #888888;*/
    position:absolute;
}
div.symbolGroupDiv.selected 
{
    border:1px solid white;
}

/*div.selected 
{
    border-color:blue !important
}*/

div.symbolDiv 
{
    display:inline-block;
    overflow:hidden;
}


input.symbolTxt
{
    display:block;/*begin with break*/
    width:40px;
    margin:auto;
    
}

img.symbolImg
{
    display:block; /*begin with break*/
    margin:auto;
}



/*For images that can be dragged onto map to add a new symbol*/
img.allowedSymbol
{
    display:block; /*begin with break*/
    margin: 10px 5px 10px 5px;
}

.cloned
{
    opacity:0.5;
    position:absolute;
}

/*trash can image*/
#trash 
{
    border:1px solid black;
    margin: 10px 5px 10px 5px;
}